<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="D:\workspace\learn-js\style.css" class="">
        <!-- Bootstrap CSS -->
        <link data-require="bootstrap@4.0.5" data-semver="4.0.5" rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- Java Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="css/style.css" class="">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <h3>Angular 2 QuickStart</h1>
        <div class="box1">Current User: Test@Test.com</div>
    <button class="btn btn-info float-md-right" data-toggle="modal" type="button" 
        data-target="#myModal">Add product</button>
        <span class="clearfix"></span>
        <div class="alert alert-success alert-dismissable" ng-if="message"><a href="#" class="close"
            ng-click="clearMessage()">&times;</a>
        <strong>{{message}}</strong></div>
        <div class="table-responsive" style="margin-top:18px;">
    <div class="container-xl">
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th><th>
                        <th>Product</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in products">
                        <td style="padding: 8px 0px 0px 0px;">
                            <button type="button" class="btn btn-primary" data-toggle="modal"  style="padding: 5px 5px 5px 5px;"
                            data-target="#myModalEdit" ng-click="selectproduct(product)"><i class="fa-solid fa-pen-to-square"></i></button>
                        </td>
                        <td style="padding: 8px 0px 0px 0px;">
                            <button class="btn btn-warning" data-toggle="modal" 
                            data-target="#myModalDelete" ng-click="selectproduct(product)" type="button" style="background-color: red;padding: 5px 6px 5px 6px;"><i class="fa-solid fa-trash"></i></button>
                        </td>
                        <td>{{product.name}}</td>
                        <td>${{product.price}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add product</h4>
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" action="">
                        <div class="form-group">
                            <label for="" class="control-label col-sm-2">product Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="newproduct.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label col-sm-2">price</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="newproduct.price">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button class="btn btn-success" type="submit" ng-click="addproduct()" data-dismiss="modal">Add product</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">close</button>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade " id="myModalEdit" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit product</h4>
                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form-horizontal">
                            <div class="form-group">
                                <label for="" class="control-label col-sm-2">product Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="clickedproduct.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label col-sm-2">price</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="clickedproduct.price">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button class="btn btn-success" type="submit" ng-click="editproduct()"
                                    data-dismiss="modal">Save Changes</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalDelete" role="dialog">
            <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete product</h4>
                <button class="close" type="button" data-dismiss="modal">x</button>

            </div>
            <div class="modal-body">
                <strong style="color:red;">Are you sure you want to delete " {{clickedproduct.name}} " product ? </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteproduct()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
                </div>
            </div>
        </div>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
        <script src="js/app.js"></script>
</html>